* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: white;
}

/* App.js CSS */

.whiteBox {
  margin: 0 auto;
  display: block;
  height: auto;
  background-color: white;
  width: 1100px;
  height: auto;
  box-shadow: 0 0 10px gray;
  padding-bottom: 30px;
}

.whiteBoxTitle {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
}

.whiteBoxSubtitle {
  font-size: 28px;
  margin-left: 40%;
  display: flex;
}

.whiteBoxText {
  font-size: 20px;
  text-align: center;
}

.whiteBoxText2 {
  font-size: 20px;
  display: flex;
}

.whiteBoxCyanText {
  font-size: 20px;
  color: #56d1b9;
  text-align: center;
}

.wrapper {
  display: flex;
  width: 100%;
}

.image-css {
  width: 300px;
  height: 300px;
  margin: auto auto 30px 30px;
  display: inline;
}

.flexButton {
  display: flex;
}

.whiteBoxButton {
  background-color: #00cc8b;
  border: none;
  width: auto;
  height: 40px;
  margin: 0px 30px 0px auto;
  padding: 10px 25px 25px 25px;
  align-self: flex-end;
}

.whiteBoxButton a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  text-align: center;
}

.whiteBoxButton:hover {
  background-color: #56d1b9;
  cursor: pointer;
}

.dropdown {
  float: right;
  font-size: 20px;
  color: white;
  background-color: #29cb8b;
}

.dropdown:hover {
  cursor: pointer;
  background-color: #56d1b9;
}
