* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: white;
}

/* Stap1.js CSS */

.whiteBox {
  display: inline-block;
  height: auto;
  background-color: white;
  width: 1400px;
  box-shadow: 0 0 10px grey;
  margin-left: 50px;
  margin-top: 50px;
  padding-bottom: 30px;
}

.whiteBoxTitle {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
  margin: 16px;
}

.whiteBoxText {
  font-size: 20px;
  margin: 16px;
  text-align: center;
}

.whiteBoxSubtitle {
  margin: 16px;
  font-size: 28px;
}

.whiteBoxText2 {
  margin: 16px;
  font-size: 20px;
}

.whiteBoxCyanText {
  margin: 16px;
  font-size: 20px;
  color: #56d1b9;
  text-align: center;
}

.image-css {
  width: 22%;
  height: auto;
  margin: auto auto 30px 30px;
  display: inline-block;
  float: left;
  margin: 10px 200px 00px 175px;
}

.flexButton {
  display: flex;
  flex-direction: row;
  position: relative;
}

.whiteBoxButton {
  background-color: #00cc8b;
  border: none;
  width: auto;
  height: 60px;
  margin: 0px 50px 30px auto;
  align-self: flex-end;
  display: inline-block;
  position: relative;
  margin-top: 50px;
}

.whiteBoxButton a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 15px 40px 40px 40px;
}

.whiteBoxButton:hover {
  background-color: #56d1b9;
  cursor: pointer;
}

.whiteBoxButtonBack {
  background-color: white;
  border: 1px solid gray;
  height: 60px;
  float: left;
  margin-right: 71%;
  margin-left: 4%;
  margin-top: 50px;
}

.whiteBoxButtonBack a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  text-align: center;
  padding: 15px 40px 40px 40px;
}

.whiteBoxButtonBack:hover {
  background-color: #56d1b9;
  cursor: pointer;
}

.dropdown {
  float: right;
  font-size: 20px;
  color: white;
  background-color: #29cb8b;
}

.dropdown:hover {
  cursor: pointer;
  background-color: #56d1b9;
}

.wrapper,
html,
body {
  height: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-bottom: 10px;
  min-height: 310px;
}

.emptyMargin {
  margin-bottom: 30px;
}

/* ProgressBar CSS */
.progressBar {
  display: inline-block;
  text-align: center;
  background-color: #f8f8f8;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 25px;
  width: 1300px;
}
